<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYBugManageMapper">
    <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.BugManage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="process_time" jdbcType="TIMESTAMP" property="processTime" />
    </resultMap>

    <resultMap id="OnlineBugMap" type="com.zhixinhuixue.armor.model.pojo.OnlineBugManage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="discover_time" jdbcType="TIMESTAMP" property="discoverTime" />
        <result column="process_time" jdbcType="TIMESTAMP" property="processTime" />
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
        <result column="account_info" property="accountInfo" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_solved" property="isSolved" jdbcType="INTEGER"/>
        <result column="demand_system_id" property="demandSystemId" jdbcType="INTEGER"/>
        <result column="demand_system" property="demandSystemName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="bug_no" property="bugNo" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="OnlineBugBOPageMap" type="com.zhixinhuixue.armor.model.bo.OnlineBugBO" extends="OnlineBugMap">
        <collection property="userIds" column="id"
                    select="com.zhixinhuixue.armor.dao.IZSYBugManageMapper.selectUsersByBugId">
        </collection>
        <collection property="bugUsers" column="id"
                    select="com.zhixinhuixue.armor.dao.IZSYBugUserMapper.selectDetailByBugId"
                    ofType="com.zhixinhuixue.armor.model.bo.BugUserBO">
        </collection>
    </resultMap>

    <resultMap id="ResultMap" type="com.zhixinhuixue.armor.model.bo.BugManageListBO" extends="BaseResultMap">
        <result column="projectName" jdbcType="VARCHAR" property="projectName" />
    </resultMap>

    <resultMap id="DetailResultMap" type="com.zhixinhuixue.armor.model.bo.BugManageBO" extends="BaseResultMap">
        <collection property="bugUsers" column="id"
                    select="com.zhixinhuixue.armor.dao.IZSYBugUserMapper.selectDetailByBugId"
                    ofType="com.zhixinhuixue.armor.model.bo.BugUserBO">
        </collection>
    </resultMap>
    
    <insert id="insertBug" parameterType="com.zhixinhuixue.armor.model.pojo.BugManage">
        insert into bug_manage (id, description, project_id, create_time, process_time)
        values
        (#{id,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR},
        #{projectId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP} , #{processTime,jdbcType=TIMESTAMP} )
    </insert>

    <!--插入线上bug-->
    <insert id="insertBugManager" parameterType="com.zhixinhuixue.armor.model.pojo.OnlineBugManage">
        INSERT INTO `bug_manage`
        (`id`,`description`,`project_id`,`create_time`,`discover_time`,`process_time`
        ,`origin`,`account_info`,`type`,`is_solved`,`remark`,`demand_system`,`demand_system_id`,`bug_no`)
        VALUES
        (#{id,jdbcType=BIGINT},#{description,jdbcType=VARCHAR},#{projectId,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{discoverTime,jdbcType=TIMESTAMP},#{processTime,jdbcType=TIMESTAMP},
        #{origin,jdbcType=VARCHAR},#{accountInfo,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{isSolved,jdbcType=INTEGER}
        ,#{remark,jdbcType=VARCHAR},#{demandSystemName,jdbcType=VARCHAR},#{demandSystemId,jdbcType=INTEGER},#{bugNo,jdbcType=INTEGER})
    </insert>


    <select id="getBugList" resultMap="ResultMap" parameterType="com.zhixinhuixue.armor.model.dto.request.BugListReqDTO">
        SELECT (@rowid := @rowid+1) AS project_id,a.* FROM(SELECT b.id,b.description,b.create_time,b.process_time,a.users,project.name as projectName  FROM bug_manage b
          JOIN project on b.project_id = project.id
          JOIN (SELECT bug_id,group_concat(user.name separator ',') as users
        FROM bug_user
        JOIN  user on bug_user.user_id = user.id
        JOIN  department on user.department_id = department.id
        WHERE department.parent_id = #{departmentId}
        GROUP BY bug_id)a on a.bug_id = b.id
        <if test="userId!=null">
            JOIN (SELECT bug_id FROM bug_user WHERE user_id =#{userId})c on c.bug_id = b.id
        </if>
            WHERE  project_id!=0
            <if test="startTime!=null">
                <![CDATA[ AND b.create_time >= #{startTime} ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[ AND b.create_time <= #{endTime} ]]>
            </if>
            GROUP BY b.id  ORDER BY b.create_time DESC
        )as a,(SELECT (@rowid:=0))as b
    </select>

    <select id="selectDetailById" resultMap="DetailResultMap">
        SELECT b.*,p.name as projectName FROM bug_manage b
        JOIN project p on b.project_id = p.id
                    where b.id = #{id}
    </select>

    <!--分页查询线上bug-->
    <select id="selectOnlineBugPage" resultMap="OnlineBugBOPageMap">
        select distinct bm.* from `bug_manage` bm
        left join `bug_user` bu on bm.id = bu.bug_id
        left join `user` u on bu.user_id = u.id
        left join `department` dep on dep.id = u.department_id
        <where>
            <if test="bugListReqDTO.userId != null">
                and bu.user_id = #{bugListReqDTO.userId}
            </if>
            <if test="bugListReqDTO.departmentId != null">
                and dep.parent_id = #{bugListReqDTO.departmentId}
            </if>
            <if test="bugListReqDTO.startTime != null">
                <![CDATA[  and bm.create_time >= #{bugListReqDTO.startTime} ]]>
            </if>
            <if test="bugListReqDTO.endTime != null">
                <![CDATA[  and bm.create_time <= #{bugListReqDTO.endTime} ]]>
            </if>
            <if test="bugListReqDTO.type != null">
                and bm.type = #{bugListReqDTO.type}
            </if>
            <if test="bugListReqDTO.isSolved != null">
                and bm.is_solved = #{bugListReqDTO.isSolved}
            </if>
            and bm.demand_system_id is not null
        </where>
        order by bm.create_time desc
    </select>

    <!--查询bug数据(老数据)-->
    <select id="selectOldOnlineBugPage" resultMap="OnlineBugBOPageMap">
        select distinct bm.* from `bug_manage` bm
        left join `bug_user` bu on bm.id = bu.bug_id
        left join `user` u on bu.user_id = u.id
        left join `department` dep on dep.id = u.department_id
        <where>
            <if test="bugListReqDTO.userId != null">
                and bu.user_id = #{bugListReqDTO.userId}
            </if>
            <if test="bugListReqDTO.departmentId != null">
                and dep.parent_id = #{bugListReqDTO.departmentId}
            </if>
            <if test="bugListReqDTO.startTime != null">
                <![CDATA[  and bm.create_time >= #{bugListReqDTO.startTime} ]]>
            </if>
            <if test="bugListReqDTO.endTime != null">
                <![CDATA[  and bm.create_time <= #{bugListReqDTO.endTime} ]]>
            </if>
            <if test="bugListReqDTO.type != null">
                and bm.type = #{bugListReqDTO.type}
            </if>
            <if test="bugListReqDTO.isSolved != null">
                and bm.is_solved = #{bugListReqDTO.isSolved}
            </if>
            and bm.demand_system_id is null
        </where>
        order by bm.create_time desc
    </select>

    <select id="selectUsersByBugId" resultType="java.lang.Long">
        select `user_id` from `bug_user` where `bug_id` = #{id}
    </select>

    <!--线上bug详情-->
    <select id="selectOnlineBugDetailById" resultMap="OnlineBugBOPageMap">
        SELECT * FROM `bug_manage` WHERE `id` = #{id}
    </select>

    <!--根据type查询bug数量-->
    <select id="selectCountByType" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `bug_manage` WHERE `type` = #{type}
        <if test="bugListReqDTO.startTime != null">
            <![CDATA[  and create_time >= #{bugListReqDTO.startTime} ]]>
        </if>
        <if test="bugListReqDTO.endTime != null">
            <![CDATA[  and create_time <= #{bugListReqDTO.endTime} ]]>
        </if>
        AND demand_system_id is not null
    </select>

    <!--查询总数-->
    <select id="selectCountTotal" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM `bug_manage` WHERE demand_system_id is not null
    </select>

    <!--查询解决状态为空的数据-->
    <select id="selectIsSolvedIsNull" resultMap="OnlineBugMap">
        SELECT * FROM `bug_manage` WHERE `is_solved` IS NULL
    </select>

    <!--查询最后一个bug编号-->
    <select id="selectLastBugNo" resultType="java.lang.Integer">
        SELECT bug_no FROM bug_manage WHERE bug_no IS NOT NULL ORDER BY bug_no DESC LIMIT 1
    </select>

    <!--根据主键查询-->
    <select id="selectById" resultMap="OnlineBugMap">
        SELECT * FROM `bug_manage` WHERE `id` = #{id}
    </select>

    <!-- 删除Bug处理记录  -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from bug_manage where id = #{id}
    </delete>

    <update id="updateBug" parameterType="com.zhixinhuixue.armor.model.pojo.BugManage">
        UPDATE bug_manage
        SET  description= #{description,jdbcType=VARCHAR}, project_id= #{projectId,jdbcType=BIGINT},
        process_time= #{processTime,jdbcType=TIMESTAMP}, create_time= #{createTime,jdbcType=TIMESTAMP}
        WHERE id=#{id,jdbcType=BIGINT};
    </update>

    <!--更新线上bug-->
    <update id="updateBugManager" parameterType="com.zhixinhuixue.armor.model.pojo.OnlineBugManage">
        UPDATE `bug_manage`
        <set>
            <if test="description != null">
                `description` = #{description,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                `project_id` = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="discoverTime != null">
                `discover_time` = #{discoverTime,jdbcType=TIMESTAMP},
            </if>
            <if test="processTime != null">
                `process_time` = #{processTime,jdbcType=TIMESTAMP},
            </if>
            <if test="origin != null and origin != '' ">
                `origin` = #{origin,jdbcType=VARCHAR},
            </if>
            <if test="accountInfo != null">
                `account_info` = #{accountInfo,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="isSolved != null">
                `is_solved` = #{isSolved,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                `remark` = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="demandSystemId != null">
                `demand_system_id` = #{demandSystemId,jdbcType=INTEGER},
            </if>
            <if test="demandSystemName != null">
                `demand_system` = #{demandSystemName,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id=#{id,jdbcType=BIGINT};
    </update>

    <!--批量更新bug解决状态-->
    <update id="updateStatusBatch" parameterType="com.zhixinhuixue.armor.model.pojo.OnlineBugManage">
        <foreach collection="list" separator=";" item="item">
            UPDATE `bug_manage` SET `is_solved` = 1 WHERE `id` = #{item.id}
        </foreach>
    </update>

</mapper>