<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYBugUserMapper">
    <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.BugUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="bug_id" jdbcType="BIGINT" property="bugId" />
        <result column="integral" jdbcType="DECIMAL" property="integral" />
    </resultMap>

    <resultMap id="DetailResultMap" type="com.zhixinhuixue.armor.model.bo.BugUserBO" extends="BaseResultMap">
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
    </resultMap>

    <resultMap id="UserBugTypeBOMap" type="com.zhixinhuixue.armor.model.bo.UserBugTypeBO">
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
    </resultMap>


    <insert id="insertList" parameterType="java.util.List">
        insert into bug_user (id, user_id, bug_id, integral)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
            #{item.bugId,jdbcType=BIGINT}, #{item.integral,jdbcType=DECIMAL} )
        </foreach>
    </insert>

    <!-- 根据bug_id查询详情 -->
    <select id="selectDetailByBugId" parameterType="java.lang.Long" resultMap="DetailResultMap">
         select t1.*,t2.`name` as userName from bug_user t1
                left join `user` t2 on t1.user_id = t2.id
                where t1.bug_id = #{id}
    </select>

    <select id="getUserIntegralByTaskId" parameterType="Map" resultMap="BaseResultMap">
          SELECT *  FROM bug_user WHERE user_id = #{userId} and  bug_id = #{id}
    </select>

    <!--查询时间段内bug人员-->
    <select id="selectBugUsersByTime" resultType="java.lang.Long">
        SELECT but.`user_id` FROM `bug_user` but
        LEFT JOIN `bug_manage` bm ON bm.`id` = but.`bug_id`
        LEFT JOIN `user` u ON u.`id` = but.`user_id`
        WHERE bm.`is_delete` = 0 AND bm.`demand_system_id` IS NOT NULL AND u.`is_delete` = 0 AND u.`status` = 0
        <if test="startTime != null">
            <![CDATA[  AND bm.discover_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[  AND bm.discover_time <= #{endTime} ]]>
        </if>
        <if test="year != null">
            AND bm.`year` = #{year}
        </if>
        GROUP BY but.`user_id`;
    </select>

    <!--查询时间段内用户参与的bug-->
    <select id="selectUserTypeNum" resultMap="UserBugTypeBOMap">
        SELECT but.`user_id`,u.`name` user_name,bm.`type`,count(but.`id`) num FROM `bug_user` but
        LEFT JOIN `bug_manage` bm ON bm.`id` = but.`bug_id`
        LEFT JOIN `user` u ON u.`id` = but.`user_id`
        WHERE bm.`is_delete` = 0 AND bm.`demand_system_id` IS NOT NULL AND u.`is_delete` = 0 AND u.`status` = 0
        <if test="startTime != null">
            <![CDATA[  AND bm.discover_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[  AND bm.discover_time <= #{endTime} ]]>
        </if>
        <if test="year != null">
            AND bm.`year` = #{year}
        </if>
        GROUP BY but.`user_id`,bm.`type`;
    </select>

    <!-- 删除Bug用户  -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from bug_user where bug_id = #{id}
    </delete>

</mapper>