<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYDataMapper">

    <resultMap id="UserLeaveMap" type="com.zhixinhuixue.armor.model.pojo.UserLeave">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="hours" jdbcType="DECIMAL" property="hours" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="review_status" jdbcType="INTEGER" property="reviewStatus" />
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
    </resultMap>
    <sql id="Base_Column_List">
      id, description, hours, type, review_status, begin_time, end_time, create_time, user_id
    </sql>

    <resultMap id="maxOrMinMap" type="com.zhixinhuixue.armor.model.bo.FeedbackMonthBO">
        <result column="feedback_num" property="feedbackNum" jdbcType="INTEGER"></result>
        <result column="month" property="month" jdbcType="INTEGER"></result>
    </resultMap>

    <resultMap id="projectTaskMap" type="com.zhixinhuixue.armor.model.bo.ProjectTaskBO">
        <result column="project_id" property="projectId" jdbcType="BIGINT"></result>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"></result>
        <result column="task_num" property="taskNum" jdbcType="INTEGER"></result>
    </resultMap>

    <resultMap id="personTaskMap" type="com.zhixinhuixue.armor.model.bo.PersonCompleteTaskBO">
        <result column="task_num" property="taskNum" jdbcType="INTEGER"></result>
        <result column="task_time" property="taskTime" jdbcType="FLOAT"></result>
    </resultMap>

    <resultMap id="personVacationMap" type="com.zhixinhuixue.armor.model.bo.PersonVacationBO">
        <result column="vacation_count" property="vacationCount" jdbcType="INTEGER"></result>
        <result column="vacation_time" property="vacationTime" jdbcType="FLOAT"></result>
    </resultMap>

    <resultMap id="taskMap" type="com.zhixinhuixue.armor.model.pojo.Task">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="stage_id" jdbcType="BIGINT" property="stageId"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="test_time" jdbcType="TIMESTAMP" property="testTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="review_status" jdbcType="INTEGER" property="reviewStatus"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="facility" jdbcType="INTEGER" property="facility"/>
        <result column="examine" jdbcType="INTEGER" property="examine"/>
    </resultMap>

    <resultMap id="LeaveAndEWorkMap" type="com.zhixinhuixue.armor.model.bo.LeaveAndEworkBO">
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="job_number" property="jobNumber" jdbcType="VARCHAR"/>
        <result column="leave_hours" property="leaveHours" jdbcType="DECIMAL"/>
        <result column="ew_hours" property="ewHours" jdbcType="DECIMAL"/>
        <result column="leave_counts" property="leaveCounts" jdbcType="INTEGER"/>
        <result column="ew_counts" property="ewCounts" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询年度需求  来自学管端-->
    <select id="selectAnnualFeedbackFromCoach" resultType="java.lang.Integer">
        select count(1) from feedback where is_delete = 0 and coach_id > 0 and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度需求  来自其他-->
    <select id="selectAnnualFeedbackOhter" resultType="java.lang.Integer">
        select count(1) from feedback where is_delete = 0 and create_by > 0 and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度 多人任务数-->
    <select id="selectAnnualMultiTaskNum" resultType="java.lang.Integer">
        select count(1) from task where is_delete = 0 and review_status = 3 and type = 2 and status in (2,3) and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度 单人任务数-->
    <select id="selectAnnualSingleTaskNum" resultType="java.lang.Integer">
        select count(1) from task where is_delete = 0 and review_status = 3 and type = 1 and status in (2,3) and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--根据type查询需求数量-->
    <select id="selectDiffFbNumByType" resultType="java.lang.Integer">
        select count(1) from `feedback` where is_delete = 0 and `type` = #{type} and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询所有需求数量-->
    <select id="selectAnnualAllFbNum" resultType="java.lang.Integer">
        select count(1) from `feedback` where is_delete = 0 and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度需求最少(最多)的月份及数量-->
    <select id="selectFbMonth" resultMap="maxOrMinMap">
        select month
        <if test="maxOrMin != null and maxOrMin == 1">
            ,MAX(num) feedback_num
        </if>
        <if test="maxOrMin != null and maxOrMin == 0">
            ,MIN(num) feedback_num
        </if>
        from
        (SELECT
        count(1) num,
        MONTH (create_time) month
        FROM
        feedback
        WHERE
        is_delete = 0
        and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        GROUP BY
        (MONTH(create_time))) t
    </select>

    <!--查询每个月的需求-->
    <select id="selectFbMonthList" resultMap="maxOrMinMap">
        SELECT
        count(1) feedback_num,
        MONTH (create_time) month
        FROM
        feedback
        WHERE
        is_delete = 0
        and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        GROUP BY
        (MONTH(create_time))
    </select>

    <!--年度任务总耗时(小时)-->
    <select id="selectTotalHours" resultType="java.lang.Integer">
        select sum(tu.task_hours) from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and tu.org_id = #{orgId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度完成任务总时长-->
    <select id="selectTaskTotalTime" resultType="java.lang.Float">
        select ifnull(sum(tu.task_hours),0) from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and t.type = 2 and tu.org_id = #{orgId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--年度耗时最长任务id-->
    <select id="selectMostTimeTaskId" resultType="java.lang.Long">
        select tu.task_id from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.type = 2 and t.status in (2,3) and tu.org_id = #{orgId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by tu.task_id
        order by sum(tu.task_hours) desc limit 1
    </select>

    <!--年度耗时最短任务id-->
    <select id="selectLessTimeTaskId" resultType="java.lang.Long">
        select tu.task_id from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.type = 2 and t.status in (2,3) and tu.org_id = #{orgId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by tu.task_id
        order by sum(tu.task_hours) asc limit 1
    </select>

    <select id="selectProjectTaskList" resultMap="projectTaskMap">
        select t.project_id,count(t.id) task_num,p.name project_name from task t
        left join project p on t.project_id = p.id
        where t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and t.org_id = #{orgId}
        <![CDATA[  and t.create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and t.create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by t.project_id
    </select>

    <!--年度请假总次数-->
    <select id="selectVacationCount" resultType="java.lang.Integer">
        select count(id) from `user_leave` where review_status = 3 and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--年度请假总时长-->
    <select id="selectVacationTime" resultType="java.lang.Float">
        select sum(hours) from `user_leave` where review_status = 3 and org_id = #{orgId}
        <![CDATA[  and begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询请假 月份-次数-时长  集合-->
    <select id="getMonthAndCountAndTimeList" resultType="java.lang.String">
        select concat(MONTH(begin_time),'-',COUNT(id),'-',SUM(hours)) from `user_leave` where review_status = 3 and org_id = #{orgId}
        <![CDATA[  and begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by MONTH(begin_time)
    </select>

    <!--查询个人年度完成任务-->
    <select id="selectPersonTask" resultMap="personTaskMap">
        select count(id) task_num,sum(task_hours) task_time FROM `task_user` WHERE user_id = #{userId} and status in (2,3)
        <![CDATA[  and begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询个人年度请假情况-->
    <select id="selectPersonVacation" resultMap="personVacationMap">
        select count(id) vacation_count,sum(hours) vacation_time from `user_leave` where review_status = 3 and user_id = #{userId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询任务总时长-->
    <select id="selectTaskTimeById" resultType="java.lang.Float">
        select sum(task_hours) from `task_user` where task_id = #{taskId}
    </select>

    <!--查询年度个人完成的多人任务-->
    <select id="selectPersonMultiTaskNum" resultType="java.lang.Integer">
        select count(tu.id) from  `task_user` tu
        left join `task` t on tu.task_id = t.id
        where tu.user_id = #{userId} and tu.status in (2,3) and t.type = 2
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询年度个人完成的耗时最长多人任务-->
    <select id="selectPersonMostTimeTaskId" resultType="java.lang.Long">
        select tu.task_id from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.type = 2 and t.status in (2,3) and tu.user_id = #{userId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by tu.task_id
        order by sum(tu.task_hours) desc limit 1
    </select>

    <!--查询年度个人完成的耗时最短多人任务-->
    <select id="selectPersonLessTimeTaskId" resultType="java.lang.Long">
        select tu.task_id from task_user tu
        left join task t on tu.task_id = t.id
        where t.is_delete = 0 and t.review_status = 3 and t.type = 2 and t.status in (2,3) and tu.user_id = #{userId}
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by tu.task_id
        order by sum(tu.task_hours) asc limit 1
    </select>

    <!--查询任务  个人耗时-->
    <select id="selectPersonTaskTimeById" resultType="java.lang.Float">
        select sum(task_hours) from `task_user` where `task_id` = #{taskId} and `user_id` = #{userId}
    </select>

    <!--年度任务数(优先级)-->
    <select id="selectPriorityTaskNum" resultType="java.lang.Integer">
        select ifnull(count(id),0) from `task` where is_delete = 0 and review_status = 3 and status in (2,3) and priority = #{priority}
        and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--查询没有需求数-->
    <select id="selectMonthAndFbCountList" resultType="java.lang.String">
        select concat(MONTH(feedback_time),'-',ifnull(count(id),0)) from `feedback` where is_delete = 0 and org_id = #{orgId}
        <![CDATA[  and feedback_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and feedback_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by MONTH(feedback_time)
    </select>

    <!--年度每月任务完成总数-->
    <select id="selectMonthAndTaskCountList" resultType="java.lang.String">
        select concat(ifnull(MONTH(complete_time),12),'-',ifnull(COUNT(id),0)) from `task` where is_delete = 0 and review_status = 3 and status in (2,3)
        and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by MONTH(complete_time)
    </select>

    <!--查询请假人员id-->
    <select id="selectUserIds" resultType="java.lang.Long">
        select distinct `user_id` from `user_leave` ul
        left join `user` u on ul.user_id = u.id
        where ul.`review_status` = 3 and u.is_delete = 0 and u.status = 0 and ul.org_id = #{orgId}
        <if test="beginTime != null">
            <![CDATA[  and ul.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[  and ul.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        </if>
    </select>

    <!--根据userId查询请假情况-->
    <select id="selectUserLeaveById" resultMap="UserLeaveMap">
        select <include refid="Base_Column_List"/> from `user_leave` where `user_id` = #{userId}
        <if test="beginTime != null">
            <![CDATA[  and begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[  and begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        </if>
    </select>

    <!--查询个人年度每个月请假情况-->
    <select id="getMonthAndCountAndTimeListByUser" resultType="java.lang.String">
        select concat(MONTH(begin_time),'-',COUNT(id),'-',SUM(hours)) from `user_leave` where review_status = 3 and `user_id` = #{userId}
        <![CDATA[  and begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        group by MONTH(begin_time)
    </select>

    <!--查询年度完成总任务数-->
    <select id="selectTotalTaskNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `task` where is_delete = 0 and review_status = 3 and status in (2,3) and `type` = 2
        and org_id = #{orgId}
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </select>

    <!--阶段总耗时-->
    <select id="selectDiffStageTime" resultType="java.lang.Float">
        select ifnull(sum(task_hours),0) from `task_user` tu
        left join `task` t on tu.task_id = t.id
        where tu.`user_id` in
        (select `id` from `user` where `job_role` = #{jobRole})
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        and t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and t.type = 2
        and tu.org_id = #{orgId}
    </select>

    <!--开发阶段总耗时-->
    <select id="selectDevStageTime" resultType="java.lang.Float">
        select ifnull(sum(task_hours),0) from `task_user` tu
        left join `task` t on tu.task_id = t.id
        where tu.`user_id` in
        (select `id` from `user` where `job_role` IN (1,4,5,6,7,8,9))
        <![CDATA[  and tu.begin_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and tu.begin_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        and t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and t.type = 2
        and tu.org_id = #{orgId}
    </select>

    <!--各阶段参与的任务数量-->
    <select id="selectDiffStageTaskNum" resultType="java.lang.Integer">
        SELECT ifnull(count(*),0) from (SELECT DISTINCT tu.task_id FROM task_user tu LEFT JOIN user u on tu.user_id = u.id
        WHERE u.job_role = #{jobRole}
        and tu.org_id = #{orgId}
        AND tu.task_id in (SELECT id FROM `task` where is_delete = 0 and review_status = 3 and status in (2,3) and `type` = 2
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]> )) tt
    </select>

    <!--开发阶段参与的任务数量-->
    <select id="selectDevStageTaskNum" resultType="java.lang.Integer">
        SELECT ifnull(count(*),0) from (SELECT DISTINCT tu.task_id FROM task_user tu LEFT JOIN user u on tu.user_id = u.id
        WHERE u.job_role IN (1,4,5,6,7,8,9)
        and tu.org_id = #{orgId}
        AND tu.task_id in (SELECT id FROM `task` where is_delete = 0 and review_status = 3 and status in (2,3) and `type` = 2
        <![CDATA[  and create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]> )) tt
    </select>

    <!--年度已完成多人任务耗时最多的前10个-->
    <select id="selectTop10Task" resultType="java.lang.Long">
        SELECT tu.task_id FROM task_user tu
        LEFT JOIN task t on tu.task_id = t.id
        WHERE t.is_delete = 0 and t.review_status = 3 and t.status in (2,3) and t.`type` = 2
        and tu.org_id = #{orgId}
        <![CDATA[  and t.create_time >= #{beginTime,jdbcType=TIMESTAMP} ]]>
        <![CDATA[  and t.create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
        GROUP BY tu.task_id ORDER BY sum(tu.task_hours) desc LIMIT 10
    </select>

    <!--单个任务总耗时-->
    <select id="selectTaskHoursById" resultType="java.lang.Float">
        select ifnull(sum(task_hours),0) from `task_user` where `task_id` = #{taskId}
    </select>

    <!--用户加班,调休统计表-->
    <select id="selectLeaveAndEWork" resultMap="LeaveAndEWorkMap">
        SELECT id AS user_id,name AS user_name,u.job_number,
        IFNULL(t1.leave_hours,0) AS leave_hours,
        IFNULL(t2.leave_counts,0) AS leave_counts,
        IFNULL(t3.ew_hours,0) AS ew_hours,
        IFNULL(t4.ew_counts,0) AS ew_counts
        FROM user u
        LEFT JOIN
        (SELECT user_id,SUM(rest_hours) AS leave_hours FROM user_rest_hours_log
        WHERE leave_id IS NOT NULL
        <![CDATA[  AND rest_hours < 0 ]]>
        AND DATE_FORMAT(record_time,'%Y-%m') = #{yearMonthStr}
        GROUP BY user_id) t1 ON t1.user_id = u.id

        LEFT JOIN
        (SELECT user_id,COUNT(rest_hours) AS leave_counts FROM user_rest_hours_log
        WHERE leave_id IS NOT NULL
        <![CDATA[  AND rest_hours <= -1 ]]>
        AND DATE_FORMAT(record_time,'%Y-%m') = #{yearMonthStr}
        GROUP BY user_id) t2 ON t2.user_id = u.id

        LEFT JOIN
        (SELECT user_id,SUM(rest_hours) AS ew_hours FROM user_rest_hours_log
        WHERE rest_hours > 0 AND ew_id IS NOT NULL AND DATE_FORMAT(record_time,'%Y-%m') = #{yearMonthStr}
        GROUP BY user_id) t3 ON t3.user_id = u.id

        LEFT JOIN
        (SELECT user_id,COUNT(rest_hours) AS ew_counts FROM user_rest_hours_log
        WHERE rest_hours > 0 AND ew_id IS NOT NULL AND DATE_FORMAT(record_time,'%Y-%m') = #{yearMonthStr}
        GROUP BY user_id) t4 ON t4.user_id = u.id
        WHERE u.is_delete = 0 AND u.`status` = 0
        and u.org_id = #{orgId}
    </select>


</mapper>