<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYDepartmentMapper">

  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.Department">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

  <resultMap id="TreeResultMap" type="com.zhixinhuixue.armor.model.bo.DeptBo" extends="BaseResultMap">
    <collection column="id" property="children" ofType="com.zhixinhuixue.armor.model.bo.DeptBo"
                select="selectByParentId"/>
  </resultMap>


  <!-- 添加部门 -->
  <insert id="insertDept" parameterType="com.zhixinhuixue.armor.model.pojo.Department">
    insert into department (id, name, description,
    parent_id, is_delete, create_time
    )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
    #{parentId,jdbcType=BIGINT}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>


  <!-- 校验部门名称 -->
  <select id="selectByDeptName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM department WHERE `name` = #{deptName}
  </select>

  <!-- 查询root菜单 -->
  <select id="selectRootDept" parameterType="java.lang.Long" resultMap="TreeResultMap">
    SELECT * FROM department WHERE is_delete = 0 AND `id` = #{pDeptId}
  </select>

  <!-- 查询父级菜单的子菜单 -->
  <select id="selectByParentId" parameterType="java.lang.Long" resultMap="TreeResultMap">
    SELECT * FROM department WHERE is_delete = 0 AND parent_id = #{pDeptId} ORDER BY create_time ASC
  </select>

  <!-- 查询父级菜单的子菜单 -->
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT * FROM department WHERE `id`=#{id}
  </select>
  


  <update id="updateByPrimaryKeySelective" parameterType="com.zhixinhuixue.armor.model.pojo.Department">
    update department
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>