<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYFeedbackPlanTaskMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.FeedbackPlanTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="feedback_plan_id" jdbcType="BIGINT" property="feedbackPlanId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, feedback_plan_id, task_id
  </sql>

  <resultMap id="PlanMap" type="com.zhixinhuixue.armor.model.bo.PlanTaskBO" >
    <collection property="planTask" column="task_id" select="com.zhixinhuixue.armor.dao.IZSYTaskMapper.selectTaskDetailByTaskId"
                ofType="com.zhixinhuixue.armor.model.bo.TaskDetailBO"></collection>
  </resultMap>

  <insert id="insertFeedbackPlanTask" parameterType="com.zhixinhuixue.armor.model.pojo.FeedbackPlanTask">
    insert into feedback_plan_task ( id, feedback_plan_id, task_id)
    values (#{id,jdbcType=BIGINT}, #{feedbackPlanId,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT})
  </insert>

  <select id="getTaskId" parameterType="java.lang.Long" resultMap="PlanMap">
      SELECT *, as FROM feedback_plan_task
      WHERE feedback_plan_id = #{feedbackPlanId}

  </select>

  <delete id="deleteByTaskId" parameterType="java.lang.Long">
      DELETE FROM feedback_plan_task
      WHERE  task_id = #{taskId}
  </delete>

  <select id="getTaskCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(*) FROM feedback_plan_task
    WHERE task_id = #{taskId}
    AND feedback_plan_id = #{feedbackPlanId}
  </select>

  <!-- 根据planId获取任务数 -->
    <select id="getTaskNum" resultType="java.lang.Integer">
      select count(*) from feedback_plan_task where feedback_plan_id = #{planId}
    </select>

  <!-- 根据taskId获取任务人数 -->
  <select id="getPerson" resultType="java.lang.Long">
    select user_id from task_user where task_id = #{taskId}
  </select>

  <!--根据taskId获取任务开始时间-->
  <select id="getBeginTime" resultType="java.util.Date">
    select begin_time from task where is_delete = 0 and id = #{taskId}
  </select>

  <!--获取任务id-->
  <select id="getTaskIdByPlanId" resultType="java.lang.Long">
    select t.id from task t
    left join feedback_plan_task fpt on t.id = fpt.task_id
    where feedback_plan_id = #{planId}
    order by t.begin_time asc
  </select>

  <!--获取最早开始的任务-->
  <select id="getFirstTask" resultType="java.lang.Long">
    select t.id from task t
    left join feedback_plan_task fpt on t.id = fpt.task_id
    where feedback_plan_id = #{planId}
    order by t.begin_time asc limit 1
  </select>

  <!--获取最早创建的任务-->
  <select id="getFirstCreateTask" resultType="java.lang.Long">
    select t.id from task t
    left join feedback_plan_task fpt on t.id = fpt.task_id
    where fpt.feedback_plan_id = #{planId}
    order by t.create_time asc limit 1
  </select>

  <!--获取最后完成的任务-->
  <select id="getLastTaskId" resultType="java.lang.Long">
    select t.id from task t
    left join feedback_plan_task fpt on t.id = fpt.task_id
    where fpt.feedback_plan_id = #{planId}
    order by t.complete_time desc limit 1
  </select>

  <!--获取最后完成任务的时间-->
  <select id="selectEndTime" resultType="java.util.Date">
    select complete_time from task where is_delete = 0 and id = #{taskId}
  </select>

</mapper>