<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYNotificationMapper">

    <!-- 批量插入通知 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO `notification`
        (`nid`,`task_id`,`user_id`,`content`,`status`,`create_time`)
        VALUES
        <foreach collection="list" item="item" separator="," >
            (#{item.nid,jdbcType=BIGINT},#{item.taskId,jdbcType=BIGINT}
            ,#{item.userId,jdbcType=BIGINT},#{item.content,jdbcType=VARCHAR}
            ,#{item.status,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>