<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYPlatformMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.Platform">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="group_mark" jdbcType="INTEGER" property="groupMark" />
  </resultMap>

  <!--新增平台-->
  <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.Platform">
      INSERT INTO `platform` (`id`,`name`,`create_by`,`create_time`,`group_mark`)
      VALUES
      (#{platform.id,jdbcType=BIGINT},#{platform.name,jdbcType=VARCHAR}
      ,#{platform.createBy,jdbcType=BIGINT},#{platform.createTime,jdbcType=TIMESTAMP}
      ,#{platform.groupMark,jdbcType=INTEGER})
  </insert>

    <!--更新-->
    <update id="updateById" parameterType="com.zhixinhuixue.armor.model.pojo.Platform">
        UPDATE `platform`
        <set>
            <if test="groupMark != null">
                `group_mark` = #{groupMark,jdbcType=INTEGER},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!--删除-->
    <delete id="deleteById">
        DELETE FROM `platform` WHERE id = #{id}
    </delete>

    <!--校验是否同名-->
  <select id="selectByName" resultMap="BaseResultMap">
      SELECT * FROM `platform` WHERE `name` = #{name}
  </select>

  <!--列表查询平台-->
  <select id="selectList" resultMap="BaseResultMap">
      SELECT * FROM `platform`
      WHERE 1 = 1
      <if test="groupMark != null">
          AND `group_mark` = #{groupMark}
      </if>
      ORDER BY `group_mark`,`create_time` DESC
  </select>

    <select id="selectPlaformsByTask" resultMap="BaseResultMap">
        SELECT p.* FROM `week_publish_plan_platform` wppp
        LEFT JOIN `platform` p ON p.id = wppp.platform_id
        WHERE wppp.task_id = #{taskId}
    </select>

    <!--根据id集合查询-->
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT * FROM `platform`
        WHERE `id` IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--根据id 查询-->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM `platform` WHERE `id` = #{id}
    </select>

</mapper>