<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYProjectMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.Project">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, create_by, create_time
  </sql>

  <!--查询所有项目并按照时间倒序排列-->
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM project
    WHERE is_delete = 0
    ORDER BY create_time ASC
  </select>

  <!--添加项目-->
  <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.Project">
    insert into project (id, name, description, 
      create_by, create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <!-- 更新项目 -->
  <update id="updateProject" parameterType="com.zhixinhuixue.armor.model.pojo.Project">
    update project
    <set>
      <if test="name != null and name!=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description!=''">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 删除项目  -->
  <update id="deleteProjectById" parameterType="java.lang.Long">
    UPDATE project SET is_delete = 1 where id = #{id,jdbcType=BIGINT}
  </update>

  <!--验证项目名是否存在-->
  <select id="validateProject" parameterType="Map" resultType="java.lang.Integer">
    SELECT count(*) FROM project  WHERE name= #{name} AND is_delete = 0
    <if test="id != null and id!=''">
      AND id != #{id}
    </if>
  </select>
</mapper>