<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYPublishInfoMapper">

  <!--  机构字段map  -->
  <resultMap id = "OrgIdFieldMap" type="com.zhixinhuixue.armor.model.pojo.OrgIdField">
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.PublishInfo" extends="OrgIdFieldMap">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, time
  </sql>
    <insert id="insertPublishInfo">
      insert into publish_info (id, time,org_id)
      values (#{id,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP},#{orgId,jdbcType=BIGINT})
    </insert>

  <update id="updatePublishInfo" parameterType="java.util.Map">
    UPDATE publish_info
          SET  time = #{time}
        WHERE id=#{id};
  </update>

  <select id="getPublishInfo" resultType="java.util.Date">
      SELECT time from publish_info WHERE  id = #{id}
  </select>
</mapper>