<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYStageMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, create_time, create_by
  </sql>
  <select id="selectStage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stage
    ORDER BY create_time DESC
  </select>
  <delete id="deleteStage" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.Stage">
    insert into stage (id, name, create_time, 
      create_by)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT})
  </insert>
  <!--验证阶段名是否存在-->
  <select id="validateStage" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(*) FROM stage  WHERE name= #{name,jdbcType=VARCHAR}
  </select>

  <!-- 根据ID查询阶段 -->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from stage where id = #{id}
  </select>
</mapper>