<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYStatsMapper">
    <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.dto.response.StatsPageResDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <result column="delay" jdbcType="INTEGER" property="delay" />
        <result column="complete" jdbcType="INTEGER" property="complete" />
        <result column="process" jdbcType="DECIMAL" property="inProcess" />
        <result column="multi" jdbcType="DECIMAL" property="multiTask" />
        <result column="sum" jdbcType="DECIMAL" property="sum" />
    </resultMap>
    <select id="getStats" resultMap="BaseResultMap">
        SELECT
        COUNT(case when (t.`status`=1 and ta.is_delete=0)  then 2 end)as process,
        COUNT(case when ((t.`status`=2 or t.`status`=3) and ta.is_delete=0) then 1 end)as complete,
        COUNT(case when (ta.`status`=1 and ta.is_delete=0)  then 2 end)as multi,
        SUM(case when (t.`status`=1 and ta.is_delete=0) then t.task_hours else 0 end) as hours,
        <![CDATA[ COUNT(case when (t.end_time<NOW() and t.status=1 and ta.is_delete=0) then 1 end)as delay,]]>
        u.`name`,u.id as id
        from `user` u
        LEFT JOIN task_user t on t.user_id = u.id
        LEFT JOIN  task ta ON  ta.id=t.task_id
        WHERE u.user_role>0
        GROUP BY u.id
    </select>

    <!-- 分页查询用户评论 -->
    <resultMap id="userComments" type="com.zhixinhuixue.armor.model.bo.UserCommentBo">
        <result column="userId" jdbcType="BIGINT" property="userId" />
        <result column="taskId" jdbcType="BIGINT" property="taskId" />
        <result column="taskUserId" jdbcType="BIGINT" property="taskUserId" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="taskName" jdbcType="VARCHAR" property="taskName" />
        <result column="taskUserName" jdbcType="VARCHAR" property="taskUserName" />
        <result column="taskUserDesc" jdbcType="VARCHAR" property="taskUserDesc" />
        <result column="grade" jdbcType="VARCHAR" property="grade" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <select id="selectUserCommentsPage" resultMap="userComments">

        select t4.id as userId,t4.`name` as userName,t2.id as taskId,t2.`name` as taskName,
        t6.id as taskUserId,
        t6.`name` as taskUserName,
        t5.description as taskUserDesc,
        t1.grade ,t1.description,t1.create_time
        from task_comment t1
        left join task t2 on t1.task_id = t2.id
        left join `user` t4 on t1.create_by = t4.id
        left join task_user t5 on t1.task_user_id = t5.id
        left join `user` t6 on t5.user_id = t6.id
        where t2.is_delete = 0 and t2.type = 2
        <if test="userId!=null">
            and t1.create_by = #{userId}
        </if>
        <if test="grade!=null and grade!=''">
            and t1.grade = #{grade}
        </if>
        order by t2.id
    </select>
</mapper>