<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYTaskReviewMapper">


    <!--  机构字段map  -->
    <resultMap id = "OrgIdFieldMap" type="com.zhixinhuixue.armor.model.pojo.OrgIdField">
        <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.TaskReview" extends="OrgIdFieldMap">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="task_id" jdbcType="BIGINT" property="taskId" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="persons" jdbcType="VARCHAR" property="persons" />
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    </resultMap>

    <resultMap id="BOMap" type="com.zhixinhuixue.armor.model.bo.TaskReviewBO" extends="BaseResultMap">
        <result column="user_name" property="createName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--批量新增-->
    <insert id="insertBatch" parameterType="com.zhixinhuixue.armor.model.pojo.TaskReview">
        INSERT INTO `task_review`
        (`id`,`task_id`,`comment`,`suggest`,`create_by`,`update_by`,`create_time`,`update_time`,`is_delete`,`org_id`)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id,jdbcType=BIGINT},#{item.taskId,jdbcType=BIGINT},#{item.comment,jdbcType=VARCHAR}
            ,#{item.suggest,jdbcType=VARCHAR},#{item.createBy,jdbcType=BIGINT},#{item.updateBy,jdbcType=BIGINT}
            ,#{item.createTime,jdbcType=TIMESTAMP},#{item.updateTime,jdbcType=TIMESTAMP},#{item.isDelete,jdbcType=INTEGER},#{item.orgId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--新增-->
    <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.TaskReview">
        INSERT INTO `task_review`
        (`id`,`task_id`,`comment`,`persons`,`create_by`,`update_by`,`create_time`
        ,`update_time`,`is_delete`,`begin_time`,`end_time`,`org_id`)
        VALUES
        (#{id,jdbcType=BIGINT},#{taskId,jdbcType=BIGINT},#{comment,jdbcType=VARCHAR}
        ,#{persons,jdbcType=VARCHAR},#{createBy,jdbcType=BIGINT},#{updateBy,jdbcType=BIGINT}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=INTEGER}
        ,#{beginTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{orgId,jdbcType=BIGINT})
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.zhixinhuixue.armor.model.pojo.TaskReview">
        UPDATE `task_review`
        <set>
            <if test="comment != null and comment !='' ">
                `comment` = #{comment},
            </if>
            <if test="persons != null and persons != '' ">
                `persons` = #{persons},
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete},
            </if>
            <if test="updateBy != null">
                `update_by` = #{updateBy},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="beginTime != null">
                `begin_time` = #{beginTime},
            </if>
            <if test="endTime != null">
                `end_time` = #{endTime},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!--根据任务id删除评审-->
    <delete id="deleteByTask">
        DELETE FROM `task_review` WHERE `task_id` = #{taskId}
    </delete>

    <!--根据任务id查询-->
    <select id="selectListByTask" resultMap="BOMap">
        SELECT tr.*,u.name user_name FROM `task_review` tr
        LEFT JOIN `user` u ON u.`id` = tr.`create_by`
        WHERE tr.`task_id` = #{taskId} AND tr.`is_delete` = 0
        ORDER BY tr.`create_time` DESC
    </select>

    <!--根据主键查询-->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM `task_review` WHERE `id` = #{reviewId}
    </select>

    <!--查询所有任务评审-->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT tr.* FROM `task_review` tr
        LEFT JOIN `task` t ON t.id = tr.task_id
        WHERE tr.`is_delete` = 0 AND t.`is_delete` = 0 AND t.`review_status` = 3 AND t.`status` = 1 and tr.org_id = #{orgId}
    </select>


</mapper>