<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYTaskTestMapper">

  <!--  机构字段map  -->
  <resultMap id = "OrgIdFieldMap" type="com.zhixinhuixue.armor.model.pojo.OrgIdField">
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.TaskTest" extends="OrgIdFieldMap">
    <id column="tt_id" jdbcType="BIGINT" property="ttId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="percent" jdbcType="INTEGER" property="percent" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>

  <resultMap id="testMap" type="com.zhixinhuixue.armor.model.bo.TaskTestBO" extends="BaseResultMap">
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="hours" jdbcType="INTEGER" property="hours" />
  </resultMap>

  <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.Test">
    insert into task_test (tt_id, task_id, user_id, percent, begin_time,end_time,org_id )
    values (#{ttId,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
     #{percent,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},#{orgId,jdbcType=BIGINT})
  </insert>


  <insert id="insertList" parameterType="java.util.List">
    insert into task_test (tt_id, task_id, user_id,  percent, begin_time, end_time,org_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ttId,jdbcType=BIGINT}, #{item.taskId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
      #{item.percent,jdbcType=INTEGER}, #{item.beginTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP},#{item.orgId,jdbcType=TIMESTAMP})
    </foreach>

  </insert>

  <select id="selectTesting" parameterType="java.lang.Long" resultType="java.lang.Integer">
     SELECT count(*) FROM  task_test
     WHERE task_id = #{taskId}
  </select>

  <select id="selectTestTask" parameterType="java.lang.Long" resultMap="testMap">
    SELECT tt.*,t.name as task_name,tu.description,tu.task_hours as hours  FROM  task_test tt
    LEFT JOIN  task t ON  tt.task_id = t.id
    LEFT JOIN task_user tu ON  tu.task_id = t.id AND tu.user_id = tt.user_id
    WHERE <![CDATA[  tt.end_time > now() ]]>  AND tt.user_id = #{userId}
  </select>
</mapper>