<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYTaskBugRemarkMapper">
    <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.TaskBugRemark">
        <id column="tbr_id" jdbcType="BIGINT" property="tbrId" />
        <result column="tb_id" jdbcType="BIGINT" property="tbId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <resultMap id="BOMap" type="com.zhixinhuixue.armor.model.bo.TaskBugRemarkBO" extends="BaseResultMap">
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
    </resultMap>
    <!--新增-->
    <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.TaskBugRemark">
        INSERT INTO `task_bug_remark`
        (`tbr_id`,`tb_id`,`remark`,`create_by`,`create_time`)
        VALUES
        (#{tbrId,jdbcType=BIGINT},#{tbId,jdbcType=BIGINT},#{remark,jdbcType=VARCHAR}
        ,#{createBy,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    <!--删除备注-->
    <delete id="deleteByTbId">
        DELETE FROM `task_bug_remark` WHERE `tb_id`= #{tbId}
    </delete>

    <!--查询备注集合-->
    <select id="selectListByTbId" resultMap="BOMap">
        SELECT tbr.*,u.name create_name FROM `task_bug_remark` tbr
        LEFT JOIN `user`  u ON u.`id` = tbr.`create_by`
        WHERE tbr.`tb_id` = #{tbId}
        ORDER BY tbr.`create_time` DESC
    </select>



</mapper>