<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYTaskModifyUserWeekMapper">

    <!--  机构字段map  -->
    <resultMap id = "OrgIdFieldMap" type="com.zhixinhuixue.armor.model.pojo.OrgIdField">
        <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    </resultMap>

    <resultMap id="BaseMap" type="com.zhixinhuixue.armor.model.pojo.TaskModifyUserWeek" extends="OrgIdFieldMap">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="tm_id" property="tmId" jdbcType="BIGINT"></result>
        <result column="task_id" property="taskId" jdbcType="BIGINT"></result>
        <result column="user_id" property="userId" jdbcType="BIGINT"></result>
        <result column="year" property="year" jdbcType="INTEGER"></result>
        <result column="week_number" property="weekNumber" jdbcType="INTEGER"></result>
        <result column="hours" property="hours" jdbcType="DECIMAL"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <!--新增任务修改周工时分配-->
    <insert id="insertBatch" parameterType="com.zhixinhuixue.armor.model.pojo.TaskModifyUserWeek">
        INSERT INTO `task_modify_user_week`
        (`id`,`tm_id`,`task_id`,`user_id`,`status`,`create_time`,`year`,`week_number`,`hours`,`org_id`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT},#{item.tmId,jdbcType=BIGINT},#{item.taskId,jdbcType=BIGINT}
            ,#{item.userId,jdbcType=BIGINT},#{item.status,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP}
            ,#{item.year,jdbcType=INTEGER},#{item.weekNumber,jdbcType=INTEGER},#{item.hours,jdbcType=DECIMAL},#{item.orgId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--根据tmId删除周工作量分配-->
    <delete id="deleteByTmId">
        DELETE FROM `task_modify_user_week` WHERE `tm_id` = #{id}
    </delete>

    <delete id="deleteByTask">
        DELETE FROM `task_modify_user_week` WHERE `task_id` = #{taskId}
    </delete>

    <!--根据tmID查询周工时分配-->
    <select id="selectByTmId" resultMap="BaseMap">
        SELECT * FROM `task_modify_user_week` WHERE `tm_id` = #{tmId}
    </select>
</mapper>