<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYTaskTagMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.TaskTag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
  </resultMap>

  <insert id="insert" parameterType="com.zhixinhuixue.armor.model.pojo.TaskTag">
    insert into task_tag (id, task_id, tag_id
      )
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT}
      )
  </insert>

  <insert id="insertList" parameterType="java.util.List">
      insert into task_tag (id, task_id, tag_id
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{list.id,jdbcType=BIGINT}, #{list.taskId,jdbcType=BIGINT}, #{list.tagId,jdbcType=BIGINT}
      )
    </foreach>
  </insert>

</mapper>