<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYUserMapper">

  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_role" jdbcType="INTEGER" property="jobRole" />
    <result column="integral" jdbcType="DECIMAL" property="integral" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="check_sort" property="checkSort" jdbcType="INTEGER"/>
    <result column="level" property="level" jdbcType="INTEGER"/>
    <result column="job_number" property="jobNumber" jdbcType="VARCHAR"/>
    <result column="rest_hours" property="restHours" jdbcType="DECIMAL"/>
  </resultMap>

  <resultMap id="PageResultMap" type="com.zhixinhuixue.armor.model.bo.UserBo" extends="BaseResultMap">
    <association property="department" column="department_id" javaType="com.zhixinhuixue.armor.model.pojo.Department"
                 select="com.zhixinhuixue.armor.dao.IZSYDepartmentMapper.selectById"/>
  </resultMap>

  <resultMap id="UserCheckPeopleMap" type="com.zhixinhuixue.armor.model.pojo.UserCheckPeople">
      <id column="id" property="id" jdbcType="BIGINT"/>
      <id column="user_id" property="userId" jdbcType="BIGINT"/>
      <id column="check_user_id" property="checkUserId" jdbcType="BIGINT"/>
      <id column="status" property="status" jdbcType="INTEGER"/>
      <id column="level" property="level" jdbcType="INTEGER"/>
  </resultMap>

  <resultMap id="UserCheckPeopleBOMap" type="com.zhixinhuixue.armor.model.bo.UserCheckPeopleBO" extends="UserCheckPeopleMap">
      <result column="user_name" property="checkUserName"></result>
  </resultMap>

  <!-- 添加用户 -->
  <insert id="insertUser" parameterType="com.zhixinhuixue.armor.model.pojo.User">
    insert into `user` (id, `name`, account,
    password, phone, last_login,
    department_id, job_name,job_role, integral,
    status, create_time, is_delete,user_role,email,check_sort,`level`,`job_number`
    )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
    #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{lastLogin,jdbcType=TIMESTAMP},
    #{departmentId,jdbcType=BIGINT}, #{jobName,jdbcType=VARCHAR}, #{jobRole,jdbcType=INTEGER}, #{integral,jdbcType=DECIMAL},
    #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER},
    #{userRole,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},#{checkSort,jdbcType=INTEGER},#{level,jdbcType=INTEGER},
    #{jobNumber,jdbcType=VARCHAR})
  </insert>

  <!--批量插入用户创建任务审核人-->
    <insert id="insertUserCheckPeopleBatch" parameterType="com.zhixinhuixue.armor.model.pojo.UserCheckPeople">
      INSERT INTO `user_check_people` (`id`,`user_id`,`check_user_id`,`status`,`level`) VALUES
      <foreach collection="list" item="item" separator=",">
        (#{item.id,jdbcType=BIGINT},#{item.userId,jdbcType=BIGINT},#{item.checkUserId,jdbcType=BIGINT}
        ,#{item.status,jdbcType=INTEGER},#{item.level,jdbcType=INTEGER})
      </foreach>
    </insert>

    <!-- 根据账号查询用户 -->
  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from `user` where is_delete=0 and account = #{account}
  </select>

  <!-- 根据账号查询用户 -->
  <select id="selectByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from `user` where is_delete=0 and email = #{email}
  </select>

  <!-- 根据ID查询用户 -->
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from `user` where `id` = #{id}
  </select>

  <!-- 根据账号和密码查询用户 -->
  <select id="selectByAccountAndPassword" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from `user` where is_delete=0 and account = #{account} and password = #{password}
  </select>

  <!-- 查询有效用户 -->
  <select id="selectEffectiveUsers" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from `user` u
	LEFT JOIN department d on u.department_id = d.id
	where u.is_delete=0 and u.`status`=0  and d.parent_id = #{id} order by u.create_time asc
  </select>


  <!-- 删除用户 -->
  <delete id="deleteById" parameterType="java.lang.Long">
    UPDATE `user` SET is_delete = 1 where id = #{id}
  </delete>

  <!--删除用户  任务审核人集合-->
  <delete id="deleteUserCheckPeople">
    DELETE FROM `user_check_people` WHERE `user_id` = #{userId}
  </delete>

  <!-- 更新用户 -->
  <update id="updateSelectiveById" parameterType="com.zhixinhuixue.armor.model.pojo.User">
    update user
    <set>
      <if test="name != null and name!=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null and account!=''">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password!=''">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone!=''">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="jobName != null and jobName!=''">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobRole != null">
        job_role = #{jobRole,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null and avatarUrl!=''">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email!=''">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="checkSort != null and checkSort != ''">
        check_sort = #{checkSort,jdbcType=INTEGER},
      </if>
      <if test="level != null and level != ''">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="jobNumber != null and jobNumber != ''">
        `job_number` = #{jobNumber,jdbcType=VARCHAR},
      </if>
      <if test="restHours != null">
        `rest_hours` = #{restHours,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 用户列表(分页) -->
  <select id="selectPage" parameterType="java.util.List" resultMap="PageResultMap">
    SELECT * FROM `user`
    WHERE 1 = 1
     <if test="deptIds!=null">
       AND department_id IN
       <foreach collection="deptIds" open="(" separator="," close=")" item="item">
         #{item}
       </foreach>
     </if>
    <if test="reqDTO.jobRole != null">
      AND `job_role` = #{reqDTO.jobRole}
    </if>
    <choose>
      <when test="reqDTO.userType != null and reqDTO.userType == 1">
        AND `is_delete` = 0 AND `status` = 0
      </when>
      <when test="reqDTO.userType != null and reqDTO.userType == 2">
        AND `is_delete` = 0 AND `status` = 1
      </when>
      <otherwise>
        AND 1 = 1
      </otherwise>
    </choose>
    ORDER BY user_role ASC ,create_time ASC
  </select>

  <!-- 根据组织查询用户数-->
  <select id="countByDepartmentId" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM `user` WHERE department_id=#{id}
  </select>

  <!-- sch -->
  <!--根据taskid查询超时人员信息-->
  <select id="selectByTaskId" resultMap="BaseResultMap">
    SELECT u.* FROM `user` u
    LEFT JOIN `task` t ON t.create_by = u.id
    where t.id = #{taskId}
    limit 1
  </select>


  <select id="selectByEwId" resultMap="BaseResultMap">
      select * from `user` u left join `extra_work` ew on u.id = ew.user_id
      where ew.id = #{ewId}
  </select>

  <!--根据userId查询  任务审核人集合-->
  <select id="selectUserCheckPeopleByUserId" resultMap="UserCheckPeopleBOMap">
      SELECT ucp.*,u.name user_name FROM `user_check_people` ucp
      LEFT JOIN `user` u ON u.id = ucp.check_user_id
      WHERE ucp.`user_id` = #{userId}
  </select>

  <!--查看当前用户管制下的用户-->
  <select id="selectUserByCheckUserId" resultMap="UserCheckPeopleBOMap">
      SELECT ucp.*,u.name user_name FROM `user_check_people` ucp
      LEFT JOIN `user` u ON u.id = ucp.user_id
      WHERE ucp.`check_user_id` = #{checkUserId}
  </select>

  <!--查询用户最后一级审核人-->
    <select id="selectUserLastCheckUser" resultType="java.lang.Long">
        SELECT check_user_id FROM user_check_people WHERE user_id = #{userId} ORDER BY `level` DESC LIMIT 1
    </select>
    <!-- sch -->

  <!--根据姓名查询-->
    <select id="selectByName" resultMap="BaseResultMap">
      SELECT * FROM `user` WHERE `name` = #{name}
    </select>

  <!--查询任务人员信息-->
    <select id="selectUsersByTask" resultMap="PageResultMap">
        SELECT u.* FROM task_user tu LEFT JOIN user u
        ON tu.`user_id` = u.`id`
        WHERE tu.`task_id` = #{taskId}
    </select>

  <!--根据id查询-->
  <select id="selectUserBOById" resultMap="PageResultMap">
    SELECT * FROM `user` WHERE `id` = #{userId}
  </select>

  <!--查询项目管理者-->
  <select id="selectManagers" resultMap="BaseResultMap">
    SELECT * FROM `user` WHERE `user_role` IN (0,1) AND `is_delete` = 0 AND `status` = 0
    ORDER BY `create_time` ASC
  </select>

  <!--查询用户剩余调休-->
  <select id="selectUserRestHours" resultMap="BaseResultMap">
    SELECT * FROM `user` WHERE `is_delete` = 0 AND `status` = 0
    <if test="jobRole  != null">
        AND `job_role`= #{jobRole}
    </if>
    <if test="userId">
        AND `id`= #{userId}
    </if>
  </select>

  <!--根据任务id,查询相关人员-->
    <select id="selectTaskUsers" resultMap="BaseResultMap">
       SELECT u.* FROM `task_user` tu
       LEFT JOIN `user` u ON u.`id` = tu.`user_id`
       WHERE tu.`task_id` = #{taskId}
    </select>

  <!--查询bug报告员-->
  <select id="selectBugReporters" resultType="com.zhixinhuixue.armor.model.pojo.User">
     SELECT u.* FROM `task_bug` tb
     LEFT JOIN `user` u ON u.id = tb.create_by
     GROUP BY tb.create_by
  </select>

  <!--查询bug分派员-->
  <select id="selectBugHandlers" resultType="com.zhixinhuixue.armor.model.pojo.User">
     SELECT u.* FROM `task_bug` tb
     LEFT JOIN `user` u ON u.id = tb.handler_id
     GROUP BY tb.handler_id
  </select>
  <!-- sch -->

</mapper>