<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYUserMapper">

  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="integral" jdbcType="DECIMAL" property="integral" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>

  <resultMap id="PageResultMap" type="com.zhixinhuixue.armor.model.bo.UserBo" extends="BaseResultMap">
    <association property="department" column="department_id" javaType="com.zhixinhuixue.armor.model.pojo.Department"
                 select="com.zhixinhuixue.armor.dao.IZSYDepartmentMapper.selectById"/>
  </resultMap>

  <!-- 添加用户 -->
  <insert id="insertUser" parameterType="com.zhixinhuixue.armor.model.pojo.User">
    insert into `user` (id, `name`, account,
    password, phone, last_login,
    department_id, job_name, integral,
    status, create_time, is_delete,user_role
    )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
    #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{lastLogin,jdbcType=TIMESTAMP},
    #{departmentId,jdbcType=BIGINT}, #{jobName,jdbcType=VARCHAR}, #{integral,jdbcType=DECIMAL},
    #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER},
    #{userRole,jdbcType=INTEGER})
  </insert>

  <!-- 根据账号查询用户 -->
  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from `user` where is_delete=0 and account = #{account}
  </select>

  <!-- 根据ID查询用户 -->
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from `user` where `id` = #{id}
  </select>

  <!-- 根据账号和密码查询用户 -->
  <select id="selectByAccountAndPassword" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from `user` where is_delete=0 and account = #{account} and password = #{password}
  </select>

  <!-- 查询有效用户 -->
  <select id="selectEffectiveUsers" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from `user` where is_delete=0 and `status`=0 order by create_time asc
  </select>

  <!-- 删除用户 -->
  <delete id="deleteById" parameterType="java.lang.Long">
    UPDATE `user` SET is_delete = 1 where id = #{id}
  </delete>

  <!-- 更新用户 -->
  <update id="updateSelectiveById" parameterType="com.zhixinhuixue.armor.model.pojo.User">
    update user
    <set>
      <if test="name != null and name!=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null and account!=''">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password!=''">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone!=''">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="jobName != null and jobName!=''">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null and avatarUrl!=''">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 用户列表(分页) -->
  <select id="selectPage" parameterType="java.util.List" resultMap="PageResultMap">
    SELECT * FROM `user`
    WHERE is_delete = 0
     <if test="list!=null">
       AND department_id IN
       <foreach collection="list" open="(" separator="," close=")" item="item">
         #{item}
       </foreach>
     </if>
    ORDER BY user_role ASC ,create_time ASC
  </select>
</mapper>