<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYUserWeekMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.UserWeek">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
  <result column="hours" jdbcType="DECIMAL" property="hours" />
  <result column="year" jdbcType="INTEGER" property="year" />
  <result column="task_id" jdbcType="BIGINT" property="taskId" />
  <result column="user_id" jdbcType="BIGINT" property="userId" />
</resultMap>
  <sql id="Base_Column_List">
    id, week_number, hours, task_id, user_id, year
  </sql>

  <resultMap id="WeekMap" type="com.zhixinhuixue.armor.model.bo.StatsUserWeekBO">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="userName"/>
    <result column="taskName" jdbcType="VARCHAR" property="taskName"/>
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
    <result column="hours" jdbcType="VARCHAR" property="hours" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>

  <insert id="insertList" parameterType="java.util.List">
    insert into user_week (id, week_number, hours, task_id, user_id ,year)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.weekNumber,jdbcType=INTEGER},
      #{item.hours,jdbcType=DECIMAL}, #{item.taskId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.year,jdbcType=INTEGER} )
    </foreach>
  </insert>

  <select id="selectByTaskId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM user_week where task_id = #{taskId} and user_id = #{userId}
  </select>

  <delete id="deleteByTaskId" parameterType="java.lang.Long">
    delete from user_week where task_id = #{taskId}
  </delete>

  <select id="getUserWeekHours" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT IFNULL(sum(hours),0) FROM user_week where user_id = #{userId} and week_number = #{weekNumber} and year = #{year}
  </select>

  <!-- 周任务统计 -->
  <select id="getUserWeekStats" parameterType="java.lang.Integer" resultMap="WeekMap">
    SELECT u.name, group_concat(t.name separator '\n\r')  as taskName,  group_concat(w.hours separator ',')  as hours, w.*   FROM user_week w
    JOIN  user u on u.id= w.user_id
    JOIN  task t on t.id = w.task_id
    WHERE t.review_status=3 and w.week_number = #{weekNumber} and w.year=#{year}
    GROUP BY w.user_id
  </select>
</mapper>