<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYUserWeekMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.UserWeek">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
  <result column="hours" jdbcType="DECIMAL" property="hours" />
  <result column="year" jdbcType="INTEGER" property="year" />
  <result column="task_id" jdbcType="BIGINT" property="taskId" />
  <result column="user_id" jdbcType="BIGINT" property="userId" />
</resultMap>
  <sql id="Base_Column_List">
    id, week_number, hours, task_id, user_id, year
  </sql>

  <resultMap id="WeekMap" type="com.zhixinhuixue.armor.model.bo.StatsUserWeekBO">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="userName"/>
    <result column="taskName" jdbcType="VARCHAR" property="taskName"/>
    <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <association property="leaveHours" column="{weekNumber=week_number,year=year,userId=user_id}" select="getLeaveWeekHours"/>
  </resultMap>

    <resultMap id="UserCostMap" type="com.zhixinhuixue.armor.model.bo.UserCostBO">
        <result column="job_role" property="jobRole" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="work_hours" property="workHours" jdbcType="DECIMAL"/>
        <result column="leave_hours" property="leaveHours" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="AvgWeekHourBO" type="com.zhixinhuixue.armor.model.bo.AvgUserWeekHourBO">
        <result column="workerNum" property="workerNum" jdbcType="INTEGER"></result>
        <result column="totalHours" property="totalHours" jdbcType="DECIMAL"></result>
    </resultMap>

  <insert id="insertList" parameterType="java.util.List">
    insert into user_week (id, week_number, hours, task_id, user_id ,year)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.weekNumber,jdbcType=INTEGER},
      #{item.hours,jdbcType=DECIMAL}, #{item.taskId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.year,jdbcType=INTEGER} )
    </foreach>
  </insert>

  <select id="selectByTaskId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM user_week where task_id = #{taskId} and user_id = #{userId}
  </select>

  <select id="getLeaveWeekHours" parameterType="java.util.Map" resultType="java.lang.Double">
    SELECT IFNULL(sum(w.hours),0)FROM user_week w JOIN user_leave l ON w.task_id = l.id
     WHERE l.review_status=3 and w.week_number = #{weekNumber} and w.year=#{year} and l.user_id = #{userId}
  </select>

  <delete id="deleteByTaskId" parameterType="java.lang.Long">
    delete from user_week where task_id = #{taskId}
  </delete>

    <!--删除userWeek-->
    <delete id="deleteByTaskIdAndUserId">
        delete from user_week where task_id = #{taskId} and user_id =#{userId}
    </delete>

    <select id="getUserWeekHours" parameterType="java.util.Map" resultType="java.lang.Double">
    SELECT IFNULL(sum(user_week.hours),0) FROM user_week
    left join task on user_week.task_id = task.id
    LEFT JOIN user_leave ul on ul.id = user_week.task_id
      <if test="taskId!=0">
        and task.id != #{taskId}
      </if>
      where  ul.id is null and user_week.user_id = #{userId} and user_week.week_number = #{weekNumber} and user_week.year = #{year}
  </select>

  <!-- 周任务统计 -->
  <select id="getUserWeekStats" parameterType="java.util.Map" resultMap="WeekMap">
      SELECT u.name, group_concat(IFNULL(t.name,t1.name),'   工时:',w.hours,'  ',  (case  tu.`status` WHEN '1' then ''
            WHEN '2' then '已完成'
            when '3' then '已评价'
            else '测试中' END) separator '\n\r')  as taskName,  w.user_id, w.task_id, w.id, w.week_number, w.year
            FROM user u
       LEFT JOIN  user_week w on u.id= w.user_id and w.week_number = #{weekNumber} and w.year=#{year}
        LEFT  JOIN  task t on t.id = w.task_id and t.review_status=3 AND t.is_delete=0
        LEFT  JOIN  department d on u.department_id = d.id
        LEFT  JOIN  task_user tu on t.id = tu.task_id and u.id=tu.user_id
        LEFT JOIN task_test tt ON  u.id = tt.user_id AND w.task_id = tt.tt_id
        LEFT JOIN task t1 ON t1.id = tt.task_id
        WHERE u.user_role>0  AND u.status =0 AND u.is_delete = 0 AND d.parent_id = #{departmentId}
      <if test="jobRole != null">
          AND u.job_role = #{jobRole}
      </if>
    GROUP BY u.id
  </select>

    <select id="getTaskUserHours" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM  user_week
        WHERE user_id = #{userId}
        and task_id = #{taskId}
    </select>

    <select id="getSameWeek" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM  user_week
        WHERE user_id = #{userId}
        and task_id = #{taskId}
        and week_number = #{weekNumber}
        and year = #{year}
    </select>

    <!--查询userWeek-->
    <select id="selectByTaskAndUser" resultMap="BaseResultMap">
        SELECT * FROM  user_week
        WHERE user_id = #{userId}
        and task_id = #{taskId}
    </select>

    <!--查询用户某个任务的周工时-->
    <select id="selectHoursByTaskAndUser" resultType="java.lang.Double">
        SELECT IFNULL(sum(user_week.hours),0) FROM user_week WHERE task_id = #{taskId}
        and user_id = #{userId} and `year` = #{year} and week_number = #{weekNumber}
    </select>

    <!--查询不同角色每周所有人工作量的平均时长-->
    <select id="selectAvgWeekHour" resultMap="AvgWeekHourBO">
        SELECT IFNULL(COUNT(t.`name`),0) workerNum,IFNULL(SUM(t.workHours),0) totalHours FROM
          (SELECT u.`name`,IFNULL(sum(uw.hours),0) workHours FROM user_week uw
              LEFT JOIN user u ON u.id = uw.user_id
              LEFT JOIN user_leave ul on ul.id = uw.task_id
              WHERE uw.`year` = #{year} AND uw.week_number = #{weekOfYear} AND u.job_role = #{jobRole} AND ul.id IS NULL
              AND u.`is_delete` = 0 AND u.`status` = 0
          GROUP BY u.`name`) t
    </select>

    <!--根据团队查询周人员投入-->
    <!--<select id="selectUserCostByGroup" resultMap="UserCostMap">-->
        <!--SELECT u.job_role,u.id AS user_id,-->
        <!--u.`name` AS user_name,-->
        <!--t.id AS task_id,-->
        <!--t.name AS task_name,-->
        <!--uw.hours AS work_hours,-->
        <!--IFNULL(ul.leave_hours,0) AS leave_hours-->
        <!--FROM user_group ug-->
        <!--LEFT JOIN user u ON u.id = ug.user_id-->
        <!--LEFT JOIN user_week uw ON uw.user_id = u.id-->
        <!--LEFT JOIN task t ON t.id = uw.task_id-->
        <!--LEFT JOIN-->
        <!--(SELECT w.user_id,IFNULL(sum(w.hours),0) AS leave_hours FROM user_week w JOIN user_leave l ON w.task_id = l.id-->
             <!--WHERE l.review_status=3 and w.week_number = #{weekNumber} and w.year= #{year}-->
        <!--GROUP BY w.user_id) ul ON ul.user_id = u.id-->
        <!--WHERE ug.group_id = #{groupId} AND uw.`year` = #{year} AND uw.week_number = #{weekNumber} AND t.id IS NOT NULL-->
        <!--ORDER BY u.job_role,u.id-->
    <!--</select>-->
    <select id="selectUserCostByGroup" resultMap="UserCostMap">
        SELECT
        u.job_role,
        ug.user_id,
        u.`name` as user_name,
        t1.task_id,
        IFNULL(t1.task_name,'暂无任务') AS task_name,
        IFNULL(t1.hours,0) AS work_hours,
        t1.`year`,
        t1.week_number,
        IFNULL(ul.leave_hours,0) AS leave_hours
        FROM user_group ug
        LEFT JOIN(
        SELECT u.id as user_id,u.name as user_name,t.id as task_id,t.`name` as task_name,uw.hours,uw.`year`,uw.week_number FROM user_week uw
        LEFT JOIN task t ON t.id = uw.task_id
        LEFT JOIN user u on u.id = uw.user_id
        WHERE `year` = #{year} AND week_number = #{weekNumber} AND u.is_delete = 0 AND u.`status` = 0 AND t.is_delete = 0 AND t.review_status = 3 ) t1 on t1.user_id = ug.user_id
        LEFT JOIN
                (SELECT w.user_id,IFNULL(sum(w.hours),0) AS leave_hours FROM user_week w JOIN user_leave l ON w.task_id = l.id
                     WHERE l.review_status=3 and w.week_number = #{weekNumber} and w.year= #{year}
                GROUP BY w.user_id) ul ON ul.user_id = ug.user_id
        LEFT JOIN `user` u on u.id = ug.user_id
        WHERE ug.group_id = #{groupId}
        ORDER BY u.job_role,u.id;
    </select>

    <update id="updateHours" parameterType="java.util.Map" >
        update user_week SET  hours = #{hours}
        where id = #{id}
    </update>

</mapper>