<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixinhuixue.armor.dao.IZSYUserWeekMapper">
  <resultMap id="BaseResultMap" type="com.zhixinhuixue.armor.model.pojo.UserWeek">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
  <result column="hours" jdbcType="DECIMAL" property="hours" />
  <result column="year" jdbcType="INTEGER" property="year" />
  <result column="task_id" jdbcType="BIGINT" property="taskId" />
  <result column="user_id" jdbcType="BIGINT" property="userId" />
</resultMap>
  <sql id="Base_Column_List">
    id, week_number, hours, task_id, user_id, year
  </sql>

  <resultMap id="WeekMap" type="com.zhixinhuixue.armor.model.bo.StatsUserWeekBO">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="userName"/>
    <result column="taskName" jdbcType="VARCHAR" property="taskName"/>
    <result column="week_number" jdbcType="INTEGER" property="weekNumber" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <association property="leaveHours" column="{weekNumber=week_number,year=year,userId=user_id}" select="getLeaveWeekHours"/>
  </resultMap>

  <insert id="insertList" parameterType="java.util.List">
    insert into user_week (id, week_number, hours, task_id, user_id ,year)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.weekNumber,jdbcType=INTEGER},
      #{item.hours,jdbcType=DECIMAL}, #{item.taskId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.year,jdbcType=INTEGER} )
    </foreach>
  </insert>

  <select id="selectByTaskId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM user_week where task_id = #{taskId} and user_id = #{userId}
  </select>

  <select id="getLeaveWeekHours" parameterType="java.util.Map" resultType="java.lang.Double">
    SELECT IFNULL(sum(w.hours),0)FROM user_week w JOIN user_leave l ON w.task_id = l.id
     WHERE l.review_status=3 and w.week_number = #{weekNumber} and w.year=#{year} and l.user_id = #{userId}
  </select>

  <delete id="deleteByTaskId" parameterType="java.lang.Long">
    delete from user_week where task_id = #{taskId}
  </delete>

  <select id="getUserWeekHours" parameterType="java.util.Map" resultType="java.lang.Double">
    SELECT IFNULL(sum(hours),0) FROM user_week
     join task on user_week.task_id = task.id where task.review_status = 3
     <if test="taskId!=0">
       and task.id != #{taskId}
     </if>
     and user_week.user_id = #{userId} and user_week.week_number = #{weekNumber} and user_week.year = #{year}
  </select>

  <!-- 周任务统计 -->
  <select id="getUserWeekStats" parameterType="java.util.Map" resultMap="WeekMap">
    SELECT u.name, group_concat(t.name,'   工时:',w.hours,'  ',(case  tu.`status` WHEN '1' then ''
else '已完成' END) separator '\n\r')  as taskName,  w.user_id, w.task_id, w.id, w.week_number, w.year    FROM user u
       LEFT JOIN  user_week w on u.id= w.user_id and w.week_number = #{weekNumber} and w.year=#{year}
        LEFT  JOIN  task t on t.id = w.task_id and t.review_status=3 AND t.is_delete=0
        LEFT  JOIN  department d on u.department_id = d.id
        WHERE u.user_role>0  AND u.status =0 AND u.is_delete = 0 AND d.parent_id = #{departmentId}
    GROUP BY u.id
  </select>
</mapper>