@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"] { -webkit-appearance: none; resize: none; vertical-align: middle; }

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* 图片自适应 */
img { max-width: 100%; height: auto; width: auto\9;    /* ie8 */ -ms-interpolation-mode: bicubic;    /*为了照顾ie图片缩放失真*/ }

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: none; list-style: none; }
html, body { font: 12px 'Droid Sans Fallback', Microsoft YaHei, Tahoma, Arial, sans-serif; color: #545454; background-color: #f5f5f5; }
em, i { font-style: normal; }
strong { font-weight: normal; }
a { text-decoration: none; color: #999; font-family: 'Droid Sans Fallback', Microsoft YaHei, Tahoma, Arial, sans-serif; }
a:hover { color: #f39800; text-decoration: none; }
ul, ol {    /*list-style:none;*/ }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-style: normal; font-family: Microsoft YaHei; }
img { border: none; }
input { outline: none; }
.clearfix:after { content: ""; display: block; visibility: hidden; height: 0; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
[v-cloak] { display: none; }

/*文字省略*/
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.hot { color: #26a2ff; }
.bg-hot { background-color: #26a2ff; color: #fff; }
.hot-red { color: #ed7474; }
.txt-r { text-align: right; }
.txt-c { text-align: center; }

/*placeholder颜色*/
:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
color: #B7B7B7; }
::-moz-placeholder {    /* Mozilla Firefox 19+ */
color: #B7B7B7; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #B7B7B7; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #B7B7B7; }
button.header-icon { margin-left: 0.3rem; vertical-align: top; }
button.header-icon img { margin-bottom: -0.04rem; }
.model .mintui-back {font-size: 0.24rem;}


.nav-top .el-tabs__header{background: #fff;padding: 10px 0;}
.my-task-con .el-tabs__header{display: inline-block;}
.intergral-data-detail .el-table__footer-wrapper thead div, .intergral-data-detail .el-table__header-wrapper thead div {
    background-color: #36A8FF;
    color: #fff;
}
.department-member-table .el-table__footer-wrapper thead div, .department-member-table .el-table__header-wrapper thead div {
    background-color: #F2F2F2;
}
.intergral-data-detail .el-table th{background-color: #36A8FF;}
.intergral-data-detail .el-table--striped .el-table__body tr.el-table__row--striped td ,.department-member-table .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #F5F5F5;
}
.intergral-data-detail  .el-table th.department-member-table .el-table th {
    height: 30px;
}
.intergral-data-detail .el-table td{
    height: 38px;
}
.department-member-table .el-table td{
	height: 44px;
}
.intergral-data-detail .el-table td, .intergral-data-detail .el-table th.is-leaf {
    border: none;
}
.intergral-data-detail .el-table_1_column_1{
	border-right: 2px solid #fff !important;
}

.department-structure .el-tree{border: none;margin: 0 10px;}

.department-member-table .el-table .cell, .department-member-table .el-table th>div {
    padding-left: 6px;
    padding-right: 6px;
}

.task-top-list .el-select .el-input .el-input__icon{color: #666;}
.task-top-list .el-input__inner{color: #666;border: 1px solid #999;}
.mint-cell-wrapper { background: none !important; }

.task-top-list .el-input__inner, .ctpc-list-con .el-input__inner,.add-member-basic-msg .el-input__inner{height: 30px;}

.nav-top-bg .el-tabs__header{margin: 0;border-bottom: none;}



.nav-top .el-tabs__item{padding: 0 36px;font-size: 16px;font-weight: 700;color: #666;}

.nav-top .el-tabs__content{padding-top: 80px;}
.nav-top .el-tabs__header{position: fixed;left: 50%;top: 0;width:900px;transform:translateX(-50%);z-index: 100;}

.organization-con .el-pagination{text-align: right;padding-right: 0;margin-top: 20px;margin-right: 10px;}



/*placeholder颜色*/
:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
color: #666 !important; }
::-moz-placeholder {    /* Mozilla Firefox 19+ */
color: #666 !important; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #666 !important; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #666 !important; }

/*部门树结构点击颜色*/
.el-tree .is-current>.el-tree-node__content span{  color: #36A8FF !important;}
/*.el-input input{width: 280px;}*/
